{% extends "layout.html" %}
{% block title %}Translate{% endblock %}
{% block body %}


<section class="section">
    <div class="container">
      <div class="row">
        <div class="section-title" data-aos="fade-right">
          <h2 style="color: #003F51;">Convert</h2>
  
          <label for="user_input">Enter items separated by commas:</label>
          <div class="translatebox" style="display: block;">
              <textarea type="text" name="user_input" id="user_input" rows="15"  placeholder="Enter text" required></textarea>
            <br>
              <!-- Move the button to this line -->
              <button onclick="convertToLiTags()">Convert to HTML</button>
          
              <h3 style="color: #003F51;">User Input:</h3>
              <div id="user_input_display"></div>
          
              <h3 style="color: #003F51;">HTML Output:</h3>
              <div id="html_output"></div>
          </div>
          
      </div>
    </div>
  
  
    <script>
        function convertToLiTags() {
            var userInput = document.getElementById('user_input').value;
            var userArray = userInput.split(',').map(item => item.trim());
            var liTags = userArray.map(item => `<li>${item}</li>`).join('\n');
            var htmlOutput = `<ul>\n${liTags}\n</ul>`;
            
            document.getElementById('html_output').innerText = htmlOutput;
            document.getElementById('user_input_display').innerHTML = htmlOutput;
        }
    </script>
    </section>
{% endblock %}

